<ul>
<% for (let i = 0; i < myBestFriends.length; i++) { %>
    <li><%= myBestFriends[i].user_id %></li>
    <li><%= myBestFriends[i].user_name %></li>
    <li><%= myBestFriends[i].day %></li>
    <li><%= myBestFriends[i].start_time %></li>
    <li><%= myBestFriends[i].end_time %></li>
<% } %>
</ul>